@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  padding: 0;
}
header #habilities{
    font-weight: bold;
}

header #title {
    font-weight: bold;
}

header #name {
    font-weight: bold;
    color: #d43838;
}

main #title {
    font-weight: bold;
}
